<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <title>Veterinaria - <%= nombrePagina %></title>
</head>

<body class="bg-gray-100 text-gray-900 font-sans">
    <header class="bg-white shadow-lg rounded-lg p-6 mb-10">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/">
                <img src="/img/vete-removebg-preview.png" alt="Logo Veterinaria" class="h-20">
            </a>
            <nav class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-6 items-center text-white">
                <!-- Carrito -->
                <a href="/carrito" class="flex items-center bg-verde hover:bg-green-800 text-white font-medium py-2 px-4 rounded-lg transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    <span class="hidden lg:block">Carrito</span>
                </a>
            
                <!-- Sacar Turno -->
                <a href="/sacar-turno" class="flex items-center bg-verde hover:bg-green-800 text-white font-medium py-2 px-4 rounded-lg transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                    </svg>
                    <span class="hidden lg:block">Sacar Turno</span>
                </a>
            
                <!-- Cerrar Sesión -->
                <form action="/cerrar-sesion" method="POST" class="flex items-center">
                    <input type="submit" class="bg-verde hover:bg-green-800 text-white font-medium py-2 px-4 rounded-lg transition-colors" value="Cerrar Sesión">

                      
                </form>
            </nav>
        </div>
    </header>

    <main class="container mx-auto p-6 bg-white rounded-lg shadow-lg mb-10">
        <%- body %>
    </main>

    <footer class="bg-white shadow-lg rounded-lg p-6">
        <div class="container mx-auto text-center">
            <!-- Sección de Retiro de Productos -->
            <div class="mb-4 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                  </svg>
                  
                <p class="text-gray-700">Retiro de productos: </p> <a href="https://www.google.com/maps/place/Veterinaria+Liceo/@-31.3544232,-64.1644863,18.75z/data=!4m6!3m5!1s0x943299c5faf0e7ef:0xbf0b44b04395fac!8m2!3d-31.3543786!4d-64.1649664!16s%2Fg%2F11bw5zkvhv!5m1!1e4?entry=ttu" class="text-blue-600">Joaquín Castellanos 5019</a>
            </div>
            <!-- Sección de Métodos de Pago -->
            <div class="mb-4 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
                  </svg>
                  
                <p class="text-gray-700">Métodos de pago: Tarjeta de crédito, débito, y efectivo</p>
            </div>
            <!-- Sección de Atención al Cliente -->
            <div class="mb-4 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
                  </svg>
                  
                <p class="text-gray-700">Atención al cliente:</p><a href="#" class="text-blue-600">+54 351 123 4567</a>
                
            </div>
            <p class="text-gray-700">&copy; 2024 Veterinaria Liceo. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
