<div class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto">
    <h1 class="text-center text-2xl bg-green-500 text-white font-extrabold mb-6 font-kalam p-4 rounded-lg shadow-md">
        <%= mensaje %>
    </h1>