<div style="background: linear-gradient(to right, #F9F8FF, #E6E6E6); font-family: sans-serif; padding: 40px; max-width: 600px; margin: 0 auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h1 style="color: #F06292; font-size: 24px; margin-bottom: 20px; font-family: sans-serif; text-align: center;">Confirmar tu cuenta en VeteLiceo</h1>
    <p style="color: #3b3b3b; line-height: 1.5; margin-bottom: 20px; text-align: center; font-family: sans-serif;">Hola, estás a un paso de comenzar a utilizar VeteLiceo en Meeti. Solo debes confirmar tu cuenta dando click en el siguiente enlace:</p>
    <a href="<%= url %>" style="color: #fff; text-decoration: none; font-family: sans-serif; display: block; margin: 0 auto; padding: 10px 20px; background-color: #2684f0; color: #fff; border: none; border-radius: 5px; font-weight: bold; cursor: pointer; transition: background-color 0.3s ease;">Confirmar tu cuenta <i class="fas fa-check"></i></a>
    <p style="color: #3b3b3b; margin-top: 20px; text-align: center; font-family: sans-serif;">Si no puedes acceder a este enlace, visita: <%= url %></p>
    <p style="color: #eb220c; text-align: center; font-family: sans-serif; ">Si no fuiste tú quien creó la cuenta, puedes ignorar este correo.</p>
  </div>